.comment-container {
    margin-right: 20%;
    margin-left: auto;
    border: black;
}
.comment-answer {
    height: 30px;
    width: 50px;
}
.comment-answer:hover {
    background-color: #67ff00!important;
}
.comment-profile-link:hover {
    color: #67ff00;
}
