h1 {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 2vw;
}
#search_text {
    color: cornflowerblue;
    text-align: center;
    font-size: 12px;
}
.buttontext {
    color: cornflowerblue;
    font-size: 14px;
}
.search-container {
    height: 10%;
}
.carousel {
    width:40%;
    margin:auto;
}
.carousel-recipe {
    background-image: url("/assets/backgrounds/white.png");
}

