h1 {
    color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 2vw;
}
.menutext {
    font-size: 2vw;
    text-align: center;
}
#search_text {
    color: cornflowerblue;
    text-align: center;
    font-size: 12px;
}
.center-align {
    vertical-align: center;
    horiz-align: center;
    width: 60%;
}
.buttontext {
    color: cornflowerblue;
    font-size: 14px;
}
.search-container {
    height: 10%;
}