h1 {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 38px;
}
#search_text {
    font-size: 2vw;
}
.carousel {
    aspect-ratio: 16/9;
    width:40%;
    margin:auto;
}
.carousel-recipe {
    background-image: url("/assets/backgrounds/white.png");
}
a {
    color: black;
    text-decoration: none; /* no underline */
}
a:hover {
    color: #67ff00;
}

.btn-primary {
    background-color: #67ff00;
    border-color: black;
    color: black;
}
.btn-primary:hover {
    background-color: black!important;
    border-color: black!important;
}

