
.center-offset {
    text-align: center;
}
.right-offset {
    float: right;
    text-align: right;
    margin-left: auto;
    margin-right: 10%;
}
.left-offset {
    float: left;
    text-align: left;
}
.fixed-aspect {
    aspect-ratio: 15/10;
}
.spacing {
    height: 100px;
}